

.general-info {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 8px;
    margin-right: 8px;
    column-gap: 10px;
}

.element {
    background-color: rgb(38, 37, 64);
    margin-bottom: 10px;
    height: 120px;
    color:white;
    border-radius: 14px;
}

.element-title {
    color: rgb(212, 211, 218);
    font-size: 15px;
    padding-left: 26px;
    padding-top: 20px;
    
}

.element-value {
    margin-top: 28px;
    margin-left: 30px;
    font-size: 29px;
}